{% extends 'base.html.twig' %}

{% block title%} About{% endblock %}


{% block body %}
<h1>About</1>
<p>Bonjour et bienvenue sur notre site de streaming JAMANIM, nous sommes deux étudiants en deuxième année d'informatique chez Ynov Bordeaux, Mehdi Ezzahi et Jules Dupuis.</p>
{% endblock %}

